<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cuotas del Estudiante</title>
    <link rel="icon" type="image/x-icon" href="/rare.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/main">TopEducation</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/main">Volver al menú principal</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1 class="text-center">Lista de Cuotas del Estudiante</h1>

    <!-- Formulario para ingresar el RUT -->
    <form th:action="@{/actualizarCuotasEstudiante}" method="post">
        <div class="mb-3">
            <label for="rut" class="form-label">Ingrese el RUT del estudiante:</label>
            <input type="text" class="form-control" id="rut" name="rut" required>
        </div>
        <button type="submit" class="btn btn-primary">Buscar Cuotas</button>
    </form>

    <!-- Mostrar la lista de cuotas -->
    <div th:if="${estudiante != null}" class="mt-4">
        <h2>Información del Estudiante</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>RUT</th>
                <th>Nombre Colegio</th>
                <th>Tipo de Colegio</th>
                <th>Año de egreso</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${estudiante.getNombres()}"></td>
                <td th:text="${estudiante.getApellidos()}"></td>
                <td th:text="${estudiante.getRut()}"></td>
                <td th:text="${estudiante.getNombreColegio()}"></td>
                <td th:text="${estudiante.getTipoColegio()}"></td>
                <td th:text="${estudiante.getEgreso()}"></td>
            </tr>
            </tbody>
        </table>
        <h3>Cuotas Pendientes y Atrasadas</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Número de Cuota</th>
                <th>Monto</th>
                <th>Descuento</th>
                <th>Interés</th>
                <th>Fecha de Vencimiento</th>
                <th>Meses Atraso</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cuota : ${cuotasEstudiante}" th:if="${cuota.pagado == false}">
                <td th:text="${cuota.getNumeroCuota()}"></td>
                <td th:text="${cuota.getMonto()}"></td>
                <td th:text="${cuota.getDescuento()}"></td>
                <td th:text="${cuota.getInteres()}"></td>
                <td th:text="${cuota.getFechaExp()}"></td>
                <td th:text="${cuota.getMesesAtraso()}"></td>
            </tr>
            </tbody>
        </table>

        <h3>Cuotas Pagadas</h3>
        <table class="table table-bordered rounded-4">
            <thead>
            <tr>
                <th>Número de Cuota</th>
                <th>Monto</th>
                <th>Descuento</th>
                <th>Interés</th>
                <th>Fecha de Vencimiento</th>
                <th>Fecha de Pago</th>
                <th>Meses Atraso</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cuota : ${cuotasEstudiante}" th:if="${cuota.pagado == true}">
                <td th:text="${cuota.getNumeroCuota()}"></td>
                <td th:text="${cuota.getMonto()}"></td>
                <td th:text="${cuota.getDescuento()}"></td>
                <td th:text="${cuota.getInteres()}"></td>
                <td th:text="${cuota.getFechaExp()}"></td>
                <td th:text="${cuota.getFechaPago()}"></td>
                <td th:text="${cuota.getMesesAtraso()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
